.wrapper
    .chat-main
        .main-header
            .main-header__left-block
                %ul.main-header__left-block__current-group test-group
                %ul.main-header__left-block__member-list
                    %li.main-header__left-block__member-list__member Member:aaa
            .main-header__edit-btn Edit
        .messages
            = render "layouts/message"
        .form
            %form.new_message
                .input-block
                    %input.input-block__text{placeholder: "type a message", type: "text", name: "message[content]", id: "message_content"}
                    %label.input-block__image{for: "message_image"}
                        %i.fa.fa-image
                        %input.input-block__image__file{type: "file", name: "message[image]", id: "message_image"}
                %input.submit-btn{type: "submit", name: "commit", value: "Send"}
