.message
    .message__upper-info
        %p.message__upper-info__talker test-user
        %p.message__upper-info__date 2019/05/06(mon) 09:00
    %p.message__text こんにちわ！
.message
    .message__upper-info
        %p.message__upper-info__talker test-user
        %p.message__upper-info__date 2019/05/06(mon) 09:00
    %p.message__text さようなら！
